.profile {
    height: 500px;
    width: 800px;
    border-radius: 50%;
}

body {
    background: linear-gradient(#00ffbb 0%, #ff00a2 100%);
    margin: 0;
    padding-top: 800px;
    text-align: center;
}

.menu {
    list-style: none;
    position: fixed;
    top: 10px;
    right: 30px;
    cursor: pointer;
    z-index: 10;
    color: 00FFE4;
}
h1 {
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 300;
}

#name {
    font-size: 50px;
    line-height: 1.2;
    font-family: 'Cinzel Decorative', cursive;
}

h2 {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.2;
    font-family: monospace;
}

#bio {
    padding: 50px;
    text-align: center;
}

.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}

p {
    max-width: 450px;
    margin: 25px auto;
    font-size: 17px;
    line-height: 1.3;
}

.parallax-inner {
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

.links {
    float: left;
    color: navy;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: fantasy;
    font-size: 20px;
}

.links:hover {
    background-color: aqua;
    font-family: Playfair Display;
    font-style: Medium 500 italic;
}
a{
    text-decoration: none;
    font-size: 30px;
}
.article:hover{
    color: aquamarine;
}